__pycache__/
*.pyc
.venv/
node_modules/
dist/
.idea/
.vscode/
*.cfile
*.wav
*.jsonl
backend/venv/

# Extra virtual environments
*/.venv/
*/venv/
*/env/
*/ENV/
*/myenv/
*/virtualenv/
*/.virtualenv/


# RF capture storage
spectrum-lab/backend/app/infrastructure/persistence/storage/recordings/modulated_signal_captures/*
spectrum-lab/backend/app/infrastructure/persistence/storage/recordings/modulated_signal_iq_captures/*
!.gitkeep